@import "~styles/animations";
@import "~styles/colors";
@import "~styles/utils";

.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 22px; // Total height of 64px with caption inside.
  background-color: $white;

  @include before {
    @include fullbleed;
    border: 2px solid $color-accent;
    opacity: 0;
    transform: scale(1.1);
    @include animate-slow;
  };

  &:hover, &:focus {
    outline: none;

    &::before {
      opacity: 1;
      transform: none;
      @include animate-fast;
    }

    .text {
      color: rgba($black, 0.7);
    }

    .arrow {
      @include animate-fast(transform);
    }
  }
}

.text {
  @include hover-fast-in-slow-out(color);
}

.arrow {
  position: relative;
  display: inline-block;
  width: 48px;
  margin-right: 24px;
  @include animate-slow(transform);
  transform-origin: left;

  &, &::before, &::after {
    height: 1px;
    background-color: $color-line;
  }

  &::before, &::after {
    position: absolute;
    right: 0;
    width: 12px;
    transform-origin: right;
  }

  @include before {
    transform: rotate(45deg);
  };

  @include after {
    transform: rotate(-45deg);
  };
}
