@import '~styles/colors';
@import '~styles/media-queries';
@import '~styles/utils';

.root {
  overflow: hidden;
}

.outer {
  width: 100%; // IE11
  max-width: 1200px;
  margin: auto;

  @include match-medium {
    display: flex;
  }
}

.inner {
  position: relative;
  margin: 0 24px;
  padding: 24px 0 24px 24px;

  @include match-medium {
    display: flex;
    padding: 100px 0;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: -100vw;
  bottom: 0;

  @include match-medium {
    left: 40px;
  }
}

.visual,
.text {
  position: relative;
}

.visual {
  display: flex;
  align-items: center;

  @include match-medium {
    flex: 1;
  }
}

.text {
  padding-top: 40px;

  @include match-medium {
    padding-bottom: 40px;
    margin-left: 40px;
    width: 40%;
  }
}

.cta {
  margin-top: 24px;
}
