@import '~styles/colors';
@import '~styles/media-queries';
@import '~styles/utils';

.root {
  overflow: hidden;
  position: relative;
}

.anchor {
  position: absolute;
  left: 0;
  top: -50px;
}

.outer {
  width: 100%; // IE11
  max-width: 1200px;
  margin: auto;

  @include match-large {
    display: flex;
  }
}

.inner {
  position: relative;
  margin: 0 24px;
  padding: 24px 0 24px 24px;

  @include match-large {
    display: flex;
    padding: 100px 0;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: -100vw;
  bottom: 0;
  background-color: $color-background;

  @include match-large {
    left: 40px;
  }

  @include match-large {
    left: 120px;
  }
}

.visual,
.text {
  position: relative;
}

.visual {
  display: flex;
  align-items: center;

  @include match-large {
    flex: 1;
  }
}

.text {
  padding-top: 40px;
  max-width: 500px;

  @include match-large {
    padding-bottom: 40px;
    margin-left: 60px;
    width: 40%;
  }
}

.cta {
  margin-top: 24px;
}

.testimonial {
  $horizontal-line-length: 140px;

  position: relative;
  margin-top: 120px;

  @include before {
    position: absolute;
    top: 0;
    right: $horizontal-line-length / 2;
    height: 120px;
    width: 1px;
    transform: translateY(-100%);
    background-color: $color-line;

    @include match-medium {
      height: 160px;
    }
  }

  @include after {
    position: absolute;
    top: 0;
    right: 0;
    width: $horizontal-line-length;
    height: 1px;
    background-color: $color-line;
  }
}
