@import '~styles/media-queries';

.root {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.mobiles {
  display: flex;

  > * {
    max-width: 190px !important;

    &:not(:first-child) {
      margin-left: 8px;

      @include match-large {
        margin-left: 16px;
      }
    }
  }
}

.mixedMobiles {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 30%;
}

.desktops {
  margin-right: 8%;
  margin-bottom: 8%;
}
