@import '~styles/animations';
@import '~styles/colors';
@import '~styles/media-queries';
@import '~styles/radius';
@import '~styles/utils';

$animated-offset: 4px;

.root {
  position: relative;
  display: block;

  &:before,
  .inner {
    @include animate-slow;
  }

  @include before {
    position: absolute;
    width: $animated-offset;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $color-primary-light;
    transform-origin: left;
    transform: scaleX(0);
    @include animate-slow;
    border-top-left-radius: radius(1);
    border-bottom-left-radius: radius(1);
  }

  &:hover,
  &:focus {
    outline: none;

    .inner,
    &::before {
      @include animate-fast;
    }

    .inner {
      transform: translateX($animated-offset);
    }

    &::before {
      transform: none;
    }
  }
}

.description {
  margin-top: 8px;
}
