@import "~styles/hover-active-patterns";
@import "~styles/fonts";
@import "~styles/colors";

.root {
  display: block;
  @extend %font-button;
  @include fast-in-slow-out();
  padding: 16px 24px;
  text-align: center;
  border: 1px solid $grey-200;
  color: $grey-600;
  background-color: $white;

  @include breakpoint($bp-small) {
    display: inline-block;
  };

  &:hover {
    border-color: $grey-400;
    color: $grey-800;
  }

  &:active {
    background-color: $grey-100;
  }
}

.icon {
  margin-right: 16px;

  > svg {
    fill: $color-accent !important;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
