@import '~styles/animations';
@import '~styles/colors';
@import '~styles/media-queries';
@import '~styles/radius';
@import '~styles/utils';

.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 22px 24px; // Total height of 64px with caption inside.
  border: none;
  border-radius: radius(1);

  @include match-medium {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include before {
    @include fullbleed;
    border: 2px solid $color-accent;
    opacity: 0;
    transform: scale(1.1);
    @include animate-slow;
    border-radius: radius(1);
  }

  &:hover,
  &:focus {
    outline: none;

    &::before {
      opacity: 1;
      transform: none;
      @include animate-fast;
    }

    .text {
      color: rgba($black, 0.7);
    }
  }

  &_color {
    &-white {
      background-color: $white;
    }

    &-accent {
      background-color: $color-accent;
      @include animate-slow(background-color);

      &:hover,
      &:focus {
        background-color: $white;
        @include animate-fast(background-color);
      }
    }
  }
}

.text {
  display: flex;
  align-items: center;
  @include hover-fast-in-slow-out(color);
}
