@import '~styles/animations';
@import '~styles/colors';
@import '~styles/media-queries';

$font-stack-sans-serif: Ubuntu, -apple-system, system-ui, 'Segoe UI', Helvetica,
  Arial, sans-serif;
$font-stack-monospace: SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
  Courier, monospace;

@mixin margin-bottom($value) {
  &.root_marginBottom {
    padding-bottom: $value;
  }
}

.root {
  font-family: $font-stack-sans-serif;
  -webkit-font-smoothing: antialiased;
  @include animate-slow(color);

  /**
   * Variants
   */

  &_variant-h1 {
    font-size: 32px;
    line-height: 40px;
    color: $color-text-dark;
    @include margin-bottom(24px);

    @include match-large {
      font-size: 48px;
      line-height: 60px;
    }
  }

  &_variant-h2 {
    font-size: 24px;
    line-height: 32px;
    color: $color-text-normal;
    @include margin-bottom(24px);

    @include match-large {
      font-size: 32px;
      line-height: 44px;
    }
  }

  &_variant-h3 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: $color-text-normal;
    @include margin-bottom(16px);

    @include match-large {
      font-size: 20px;
      line-height: 34px;
    }
  }

  &_variant-label {
    font-size: 14px;
    line-height: 20px;
    color: $color-text-normal;
    @include margin-bottom(16px);

    @include match-large {
      font-size: 16px;
      line-height: 28px;
    }
  }

  &_variant-caption {
    font-size: 12px;
    line-height: 16px;
    color: $color-text-light;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include margin-bottom(16px);

    @include match-large {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &_variant-body {
    font-size: 16px;
    line-height: 24px;
    color: $color-text-light;
    font-weight: 400;
    @include margin-bottom(20px);

    @include match-medium {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &_variant-paragraph {
    font-size: 14px;
    line-height: 24px;
    color: $color-text-light;
    font-weight: 400;
    @include margin-bottom(12px);

    @include match-large {
      font-size: 16px;
      line-height: 28px;
    }
  }

  &_variant-inlineCode {
    padding: 2px 4px;
    font-size: 14px;
    line-height: 20px;
    background-color: $white;
    color: $color-text-light;
    font-weight: 400;
    font-family: $font-stack-monospace;
    word-break: break-word;

    @include match-large {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &_variant-code {
    padding: 12px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    background-color: $color-background-dark;
    color: $white;
    font-weight: 400;
    font-family: $font-stack-monospace;
    max-width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  /**
   * Weight
   */

  &_weight-bold {
    font-weight: 500;
  }

  /**
   * Color
   */

  &_color-accentLight {
    color: $color-accent-light;
  }

  &_color-accent {
    color: $color-accent;
  }

  &_color-white {
    color: $white;
  }

  &_color-pale {
    color: $color-pale;
  }

  &_color-paleInverted {
    color: $color-pale-inverted;
  }
}
