@import '~styles/animations';
@import '~styles/media-queries';
@import '~styles/colors';
@import '~styles/utils';

.root {
  cursor: pointer;
  position: relative;

  &_controlsVisible .overlay {
    @include animate-fast;
    opacity: 1;
  }

  &:hover .overlay {
    transform: translate(-50%, -50%) scale(1.25);
    @include animate-fast;
  }
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include circle(40px);
  opacity: 0;
  background-color: $red;
  @include animate-slow;
  pointer-events: none;

  @include match-medium {
    @include circle(60px);
  }
}

.playIcon {
  transform: scale(0.75);

  @include match-medium {
    transform: none;
  }
}

.video {
  display: block; // Removes strange margin-bottom
  width: 100%;
  outline: none;
}
