@import '~styles/animations';
@import '~styles/media-queries';
@import '~styles/colors';
@import '~styles/utils';

.root {
  cursor: pointer;
  position: relative;

  &_controlsVisible .overlay {
    @include animate-fast(opacity);
    opacity: 1;
  }
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include circle(60px);
  opacity: 0;
  background-color: rgba($black, 0.6);
  @include animate-slow(opacity);
  pointer-events: none;
}

.video {
  width: 100%;
  outline: none;
}
