@import "colors";
@import "measurements";

$font-stack-sans-serif: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial;
$font-stack-serif: "Merriweather", Georgia, serif;
$font-stack-monospace: "Source Code Pro", Georgia, serif;

$font-weight-light: 300; // Only sans-serif.
$font-weight-regular: 400; // Sans-serif, serif and monospace.
$font-weight-bold: 700; // Sans-serif and serif.

%font-title {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.025em;
  font-weight: $font-weight-regular;
  font-family: $font-stack-sans-serif;
  color: $grey-900;
  -webkit-font-smoothing: antialiased;
  @include breakpoint($bp-medium) {
    font-size: 48px;
    line-height: 64px;
  }
}

%font-subtitle {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  font-weight: $font-weight-regular;
  font-family: $font-stack-serif;
  color: $grey-600;
  -webkit-font-smoothing: antialiased;
  @include breakpoint($bp-medium) {
    font-size: 20px;
    line-height: 32px;
  }
}

%font-headline {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.05em;
  font-weight: $font-weight-regular;
  font-family: $font-stack-sans-serif;
  color: $grey-900;
  -webkit-font-smoothing: antialiased;
  @include breakpoint($bp-medium) {
    font-size: 32px;
    line-height: 48px;
  };
}

%font-body {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  font-weight: $font-weight-regular;
  font-family: $font-stack-serif;
  color: $grey-500;
  -webkit-font-smoothing: antialiased;
}

%font-label-big {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  font-weight: $font-weight-regular;
  font-family: $font-stack-sans-serif;
  color: $grey-900;
  -webkit-font-smoothing: antialiased;
}

%font-caption {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.35em;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  font-family: $font-stack-sans-serif;
  -webkit-font-smoothing: antialiased;

  @include breakpoint($bp-medium) {
    font-size: 14px;
    line-height: 18px;
  }
}

%font-button {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  font-family: $font-stack-sans-serif;
  -webkit-font-smoothing: antialiased;
}
