@mixin fast-in-slow-out($attr: all) {
  transition: $attr 0.3s ease-out;

  &:hover {
    transition: $attr 0.15s ease-out;
  }
}

@mixin slow-in-slow-out($attr: all) {
  transition: $attr 0.3s ease-out;
}

%adjust-opacity {
  @include fast-in-slow-out(opacity);
  &:hover {
    opacity: 0.75;
  }
}
