@mixin clearfix() {
  @include after {
    clear: both;
  };
}

@mixin setHrColor($color) {
  background-color: $color;
  color: $color;
}

@mixin before() {
  &::before {
    content: '';
    display: block;
    @content;
  }
}

@mixin after() {
  &::after {
    content: '';
    display: block;
    @content;
  }
}

@mixin fullbleed {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin no-tap-highlight {
  -webkit-tap-highlight-color: transparent;
}
