$white: white;
$black: black;

$color-background: #f7fbfd;
$color-background-dark: #303236;
$color-line: rgba($black, 0.15);
$color-line-inverted: rgba($white, 0.1);
$color-accent-light: #8bc1bf;
$color-accent: #489292;
$color-pale: rgba($black, 0.5);
$color-pale-inverted: rgba($white, 0.5);
