$white: white;
$black: black;

$color-background: #F4F4F4;
$color-background-dark: #404040;
$color-line: rgba($black, 0.1);
$color-line-inverted: rgba($white, 0.1);
$color-accent: #9acac8;
$color-accent-dark: #709A99;
$color-pale: rgba($black, 0.5);
$color-pale-inverted: rgba($white, 0.5);
