$breakpoint-medium: 720px;
$breakpoint-large: 1024px;
$breakpoint-huge: 1200px;

:export {
  breakpointMedium: $breakpoint-medium;
  breakpointLarge: $breakpoint-large;
  breakpointHuge: $breakpoint-huge;
}
