@mixin fullbleed {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin before {
  &::before {
    display: block;
    content: '';
    @content;
  }
}

@mixin after {
  &::after {
    display: block;
    content: '';
    @content;
  }
}
