@mixin fullbleed($position: absolute) {
  position: $position;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin circle($size) {
  @include square($size);
  border-radius: 50%;
}

@mixin before {
  &::before {
    display: block;
    content: '';
    @content;
  }
}

@mixin after {
  &::after {
    display: block;
    content: '';
    @content;
  }
}
