@import '~styles/colors';
@import '~styles/radius';

.root {
  border: 1px solid $color-line;
  background-color: $white;
  box-shadow: 0 2px 20px rgba($black, 0.1);
  border-radius: radius(1);
}

.toolbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-line;
}

.toolbarIcon {
  display: inline-block;
  border: 1px solid $color-line;
  border-radius: 50%;
}

.children > * {
  display: flex;
  width: 100%;
}
