@import '~styles/colors';
@import '~styles/media-queries';
@import '~styles/radius';

.root {
  background-color: $white;
  border-radius: radius(1);

  @include match-medium {
    padding: 40px;
  }

  &_size {
    &-small {
      padding: 12px;

      @include match-medium {
        padding: 20px;
      }
    }

    &-medium {
      padding: 24px;

      @include match-medium {
        padding: 40px;
      }
    }
  }
}
