@import "~styles/fonts";
@import "~styles/colors";
@import "~styles/utils";
@import "~styles/animations";
@import "config";

.h1 {
  @extend %font-title;
  margin-top: 32px;
  margin-bottom: 16px;
  position: relative;

  @include breakpoint($bp-medium) {
    margin-top: 64px;
    margin-bottom: $base-margin-bottom;
    font-size: 36px;
    line-height: 48px;
  }
}

.h2 {
  @extend %font-subtitle;
  font-family: $font-stack-sans-serif;
  font-weight: $font-weight-bold;
  margin-top: 24px;
  margin-bottom: 12px;
  color: $color-text;

  @include breakpoint($bp-medium) {
    margin-top: 36px;
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 40px;
  }
}

.blockquote {
  position: relative;
  @include body-text;
  color: $color-text-accent;
  text-align: center;
  padding: 32px;
  margin-bottom: 24px;

  &:before, &:after {
    position: absolute;
    font-size: 3em;
    opacity: 0.1;
    font-weight: $font-weight-bold;
  }

  @include before {
    content: '“';
    left: 0;
    top: 0.5em;
  };

  @include after {
    content: '”';
    right: 0;
    bottom: 0;
  };
}

.p {
  @include body-text;
  margin-bottom: $base-margin-bottom;

  &.p_small {
    margin-bottom: $base-margin-bottom / 2;
    color: $grey-500;
    font-size: 12px;
    line-height: 18px;
    font-family: $font-stack-sans-serif;
  }
}

.ul {
  list-style-type: circle;
  color: $color-text;
  margin-left: 40px;
  margin-bottom: $base-margin-bottom;
}

.li {
  @include body-text;
  margin-bottom: 16px;
}

.i {
  font-style: italic;
}

.b {
  font-weight: $font-weight-bold;
}

.code {
  font-family: $font-stack-monospace;
  background: $blue-grey-200;
  padding: 4px 8px;
  font-size: 16px;
}

.hr {
  $circle-size: 8px;
  $height: 1px;
  $color: $blue-grey-300;

  height: $height;
  position: relative;
  width: calc(100% / 3);
  left: calc(100% / 3);
  margin: 44px 0;
  overflow: visible;
  @include setHrColor($color);

  @include after {
    position: absolute;
    height: $circle-size;
    width: $circle-size;
    left: calc(50% - #{$circle-size / 2});
    top: -$circle-size / 2;
    background-color: $color-background;
    border-radius: 50%;
    box-shadow: 0 0 0 4px $color-background;

    // The border color needs the darkened a bit, since it appears a little
    // bit brighter because it mostly only fills half pixels.
    border: $height solid darken($color, 3%);
  };
}

.imgWrapper {
  margin-bottom: $base-margin-bottom;
  text-align: center;

  &.imgWrapper_undersized,
  &.imgWrapper_oversized {
    > .img {
      width: 100%;
    }
  }

  &.imgWrapper_undersized {
    @include breakpoint($bp-medium) {
      margin-left: 96px;
      margin-right: 96px;
    };
  }

  &.imgWrapper_oversized {
    // $breakpoint:
    @include breakpoint ($bp-medium + 96px) {
      margin-left: -96px;
      margin-right: -96px;
    };
  }
}

.img {
  max-width: 100%;
}

.imgText {
  @include media-caption();
}

.a {
  color: $color-text-strong;
  border-bottom: 1px solid $color-accent;
  @include hover-adjust-opacity;
}
