@import '~styles/colors';

.root {
  &_color-black {
    color: $black;
  }

  &_color-white {
    color: $white;
  }

  &_color-primary {
    color: $color-primary;
  }

  &_color-grey {
    color: $grey;
  }

  &_color-primaryLight {
    color: $color-primary-light;
  }

  &_color-green {
    color: $green;
  }

  &_color-red {
    color: $red;
  }

  &_color-violet {
    color: $violet;
  }
}
