@import '~styles/colors';

.root {
  display: block;
  padding: 40px;
  background-color: $white;
}

.description {
  margin-top: 8px;
}

.pullRequests {
  margin-top: 8px;
}

.pullRequest {
  display: flex;
  align-items: baseline;
}

.pullRequestIcon {
  margin-right: 8px;
  flex-shrink: 0;
  position: relative;
  top: 4px;
}
