@import '~styles/colors';
@import '~styles/media-queries';
@import '~styles/utils';

.root {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &_showPortrait {
    .text {
      padding-top: 60px;
      padding-left: 24px;
      padding-bottom: 12px;

      @include match-medium {
        padding-top: 200px;
        padding-left: 40px;
        padding-bottom: 40px;
      }

      @include match-large {
        padding-top: 280px;
        padding-left: 0;
        padding-bottom: 80px;
      }
    }

    .inner {
      max-height: 640px;

      @include match-medium {
        height: 70vh;
      }
    }
  }
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.text {
  position: relative;
  z-index: 1;
}

.portrait {
  width: 70%;
  height: 200px;
  margin-left: auto;
  background-image: url('./portrait.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;

  @include match-medium {
    position: absolute;
    height: 100%;
    width: 40%;
    right: 0;
    bottom: 0;
  }

  @include match-large {
    width: 50%;
    transform: translateX(40px);
  }

  @include match-huge {
    transform: translateX(80px);
  }
}

.text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 60px;
  padding-bottom: 40px;
  max-width: 500px;

  @include match-medium {
    padding-top: 80px;
    max-width: 400px;
  }

  @include match-large {
    padding-top: 200px;
    padding-bottom: 80px;
    max-width: 500px;
  }

  &_slim {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
}

.title {
  margin-bottom: 8px;

  @include match-large {
    margin-bottom: 12px;
  }
}

.subtitle {
  margin-bottom: 6px;

  @include match-large {
    margin-bottom: 8px;
  }
}

.description {
  white-space: pre-wrap;
}
