@import "~styles/measurements";
@import "~styles/fonts";
@import "~styles/colors";
@import "~styles/utils";
@import "~styles/animations";

.root {
  padding: 24px 0 0 48px;
  position: relative;
  height: 480px;
  text-align: center;
  color: $white;
  overflow: hidden;

  @include breakpoint($bp-medium) {
    padding: 48px 0 0 0;
    height: 656px;
  }

  &_mini {
    height: 336px;

    @include breakpoint($bp-medium) {
      height: 400px;
    }

    > .wrapper > .text {
      bottom: 20px;
    }
  }

  &_inverted {
    color: rgba($black, 0.6);

    > .wrapper {

      > .logo {
        background-image: url('./images/logo-inverted.svg');
      }

      > .hr {
        @include setHrColor($blue-grey-300);
      }
    }
  }

  &_animateText {
    > .wrapper > .text {
      @include breakpoint($bp-medium) {
        bottom: 140px;
      };
    }
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  background-size: cover;
  background-blend-mode: multiply;
  z-index: 0;

  &_blur {
    filter: blur(10px);
  }
}

.wrapper {
  position: relative;
  height: 100%;
  text-align: left;
  @include container();
}

.logo {
  width: 48px;
  height: 48px;
  display: inline-block;
  background: url('./images/logo-inverted.svg') no-repeat;
  background-size: cover;
  text-indent: -9999em;
}

.menuIcon {
  @include hover-adjust-opacity;
  position: absolute;
  right: 24px;

  @include breakpoint($bp-medium) {
    right: -12px;
  }
}

.menu {
  text-align: right;
  margin-right: 12px;
  pointer-events: none;
  will-change: transform;

  @include breakpoint($bp-medium) {
    margin-right: -24px;
  }

  &_open {
    pointer-events: all;
  }
}

.menuItem {
  @extend %font-label-big;
  @include hover-adjust-opacity;
  color: inherit;
  padding: 12px 24px;
  display: inline-block;
  will-change: opacity;
}

.hr {
  position: absolute;
  top: 72px;
  width: 100%;
  @include setHrColor(rgba($white, 0.2));
  will-change: transform;
}

.text {
  position: absolute;
  top: 160px;
  padding-right: 48px;
  width: 100%;

  @include breakpoint($bp-medium) {
    top: auto;
    bottom: 120px;
  };
}

.title {
  @extend %font-title;
  margin-bottom: 16px;
  color: inherit;
}

.description {
  @extend %font-subtitle;
  color: inherit;

  @include breakpoint($bp-medium) {
    max-width: span(2);
  };
}

.img {
  position: absolute;
  display: none;
  pointer-events: none;

  @include breakpoint($bp-medium) {
    display: inline-block;
  }
}
