@import '~styles/colors';
@import '~styles/media-queries';
@import '~styles/utils';

.root {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &_large .text {
    max-width: 800px;
    padding: 120px 0;

    @include match-medium {
      padding: 240px 0;
    }
  }
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.text {
  position: relative;
  z-index: 1;
}

.text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 60px;
  padding-bottom: 40px;
  max-width: 500px;

  @include match-medium {
    padding-top: 80px;
    max-width: 400px;
  }

  @include match-large {
    padding-top: 200px;
    padding-bottom: 80px;
    max-width: 500px;
  }

  &_slim {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
}

.title {
  margin-bottom: 8px;

  @include match-large {
    margin-bottom: 12px;
  }
}

.subtitle {
  margin-bottom: 6px;

  @include match-large {
    margin-bottom: 8px;
  }
}

.description {
  white-space: pre-wrap;
}
