@import '~styles/animations';
@import '~styles/colors';
@import '~styles/utils';

.root {
  border-bottom: 1px solid $color-accent;
  @include hover-fast-in-slow-out;
  font-weight: 400;

  &:hover,
  &:focus {
    border-bottom-color: $black;
  }
}
