@import "~styles/media-queries";

.root {
  display: inline-block;
  border: none;
  background: none;
  padding: 8px 0;

  & + & {
    margin-left: 20px;

    @include match-medium {
      margin-left: 32px;
    };
  }
}
