@import "~styles/colors";
@import "~styles/lib/reset";

:global {
  @include apply-reset();

  * {
    box-sizing: border-box;
  }

  // Note: scroll-behaviour should be assigned to `html` instead
  // of `body`, as the latter doesn't propagate it to the viewport
  // (see https://drafts.csswg.org/cssom-view/#smooth-scrolling).
  html {
    scroll-behavior: smooth;
  }

  body {
    background: $color-background;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    cursor: pointer;
  }
}
