@import "~styles/colors";
@import "~styles/lib/reset";

:global {
  @include apply-reset();
  @import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');

  * {
    box-sizing: border-box;
  }

  body {
    background: $color-background;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    cursor: pointer;
  }
}
