@import '~styles/colors';
@import '~styles/utils';

$element-color: rgba($black, 0.7);
$padding-vertical: 80px;
$camera-size: 4px;

.root {
  position: relative;
  display: inline-block;
  padding: $padding-vertical 20px;
  background-color: #2d2e3a;
  border-radius: 48px;
  max-width: 320px;
  min-height: 624px;
  box-shadow: 0 2px 10px rgba($black, 0.5);
}

.cameraAndSpeaker {
  position: absolute;
  top: ($padding-vertical - $camera-size) / 2;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  align-items: center;

  &::before,
  &::after {
    background-color: $element-color;
  }

  @include before {
    @include circle(8px);
  }

  @include after {
    height: $camera-size;
    width: 48px;
    margin-left: 20px;
    border-radius: 2px;
  }
}

.home {
  $size: 48px;

  position: absolute;
  left: calc(50% - #{$size / 2});
  bottom: ($padding-vertical - $size) / 2;
  @include circle($size);
  background-color: $element-color;
}
