@import '~styles/colors';
@import '~styles/media-queries';
@import '~styles/utils';

.root {
  background-color: $white;
}

.titleWrapper {
  text-align: center;
  padding: 160px 24px 80px;
  overflow: hidden;

  @include match-medium {
    padding-top: 280px;
    padding-bottom: 160px;
  }
}

.title {
  display: inline-block;
  position: relative;
  padding: 32px;
  background-color: $color-background;

  @include match-medium {
    padding: 32px 100px;
  }

  @include before {
    $offset: 18px;

    position: absolute;
    left: -$offset;
    right: -$offset;
    bottom: $offset;
    height: 1px;
    background-color: $color-accent-light;
  }
}
