@import '~styles/colors';
@import '~styles/fonts';

$color-pass: #0c6;
$color-pass-secondary: #080;
$circle-size-big: 96px;

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  contain: content;
  will-change: opacity;
  background-color: $white;
  border-radius: 50%;
  box-shadow: 0 2px 20px rgba($black, 0.1);
}

.wrapperPass {
  color: $color-pass-secondary;
  fill: $color-pass;
  stroke: $color-pass;
}

.gaugeBase {
  opacity: 0.1;
}

.gaugeArc {
  fill: none;
  transform-origin: 50% 50%;
  transition: 1.2s ease;
}

.svgWrapper {
  position: relative;
  height: $circle-size-big;
}

.gauge {
  stroke-linecap: round;
  width: $circle-size-big;
  height: $circle-size-big;
}

.scoreLabel {
  width: 100%;
  height: $circle-size-big;
  position: absolute;
  font-family: $font-stack-monospace;
  font-size: calc(#{$circle-size-big} * 0.3 + 1.3px);
  line-height: 0;
  text-align: center;
  top: calc(#{$circle-size-big} / 2 - 9px);
}

.description {
  position: absolute;
  width: 90%;
  top: calc((#{$circle-size-big} / 2) + 8px);
  line-height: 1.2em;
  font-family: $font-stack-monospace;
  text-align: center;
  font-size: 11px;
  color: rgba($black, 0.5);
}
