@import '~styles/colors';
@import '~styles/media-queries';

.root {
  padding-left: 24px;

  @include match-medium {
    padding-left: 40px;
    padding-bottom: 12px;
  }

  @include match-large {
    padding-left: 0;
  }
}

.part {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 2px;
  border-bottom: 2px solid $color-accent;
  white-space: pre-wrap;

  @include match-medium {
    padding-top: 0;
  }

  @include match-large {
    padding-bottom: 12px;
  }
}
