@import '~styles/colors';
@import '~styles/media-queries';

.root {
  background-color: $white;
  padding-top: 160px;

  @include match-medium {
    padding-top: 280px;
  }
}

.description {
  margin-top: 40px;
  max-width: 650px;
  padding-left: 24px;

  @include match-medium {
    margin-top: 80px;
    padding-left: 40px;
  }

  @include match-large {
    padding-left: 0;
  }
}

.children {
  margin-top: 80px;

  @include match-medium {
    margin-top: 160px;
  }

  & > *:not(:first-child) {
    margin-top: 120px;
  }
}
