@import "~styles/colors";
@import "~styles/media-queries";

.root {
  padding: 80px 0 20px;
  background-color: $color-background-dark;

  @include match-medium {
    padding-top: 120px;
    padding-bottom: 120px;
  };
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  padding-top: 20px;
  border-top: 1px solid $color-line-inverted;
}
