@import '~styles/colors';
@import '~styles/media-queries';
@import '~styles/utils';

.root {
  padding: 80px 0 20px;
  background-color: $color-background-dark;

  @include match-medium {
    padding-top: 160px;
    padding-bottom: 80px;
  }
}

.navigation {
  margin-top: 120px;
  padding-top: 20px;
  border-top: 1px solid $color-line-inverted;

  @include match-medium {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  margin-bottom: 16px;

  @include match-medium {
    margin-bottom: 0;
  }

  > * {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}
