@import "~styles/lib/reset";
@import "~styles/colors";
@import "~styles/fonts";
@import "~styles/measurements";
@import "~styles/utils";

/**
 * Global styles
 */
:global {
  @include apply-reset();

  * { box-sizing: border-box; }

  body {
    font-family: $font-stack-sans-serif;
    background: $color-background;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  hr {
    margin: 0;
    border: none;
    height: 1px;
  }

  // #root is hidden by default, so there's no FOUC.
  // As soon as the CSS is loaded, show #root.
  #root { display: block !important; }
}
