@import '~styles/colors';

.root {
  background-color: $color-background-dark;

  &_open {
    .children {
      box-shadow: 0 0 20px black;
      overflow: hidden;
      max-height: 100vh;
    }
  }
}

.children {
  position: relative;
  background-color: $color-background;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
}
