@import "~styles/animations";

.root {
  padding: 12px;
  height: 48px;
  width: 48px;
  display: inline-block;
  box-sizing: border-box;
  @include hover-slow-in-slow-out(opacity);

  &_disabled {
    opacity: 0.25;
    cursor: default;
  }
}
